.container1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
  }
  
  .gridItem {
    border: 1px solid black;
    /* position: relative;
    top: 2rem; */
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
  }
  .icons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* cursor: pointer; */
  }
  